.input {
  width: 25%;
  height: 3vh;
  background-color: #858693;
  color: #fff;
  text-align: end;
  border: none;
}

.btns {
  align-self: center;
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.calculatorBtn {
  width: 99%;
  height: 6vh;
  border: none;
  background-color: #e0e0e0;
}

.btn0 {
  grid-column: 1/3;
}

.orange {
  background-color: #f5913e;
}
